// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '../../node_modules/bootstrap/scss/bootstrap';

//@import "~tailwindcss/base";
//
//@import "~tailwindcss/components";
//
//@import "~tailwindcss/utilities";


//
//body {
//    background: ;
//}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.infobox-icon {
    border-radius: 2px 0 0 2px;
    display: block;
    //float: left;
    //height: 90px;
    //width: 90px;
    text-align: center;
    font-size: 60px;
    //line-height: 90px;
    //background: rgba(0, 0, 0, 0.2);
}

.serverstatus {
    font-size: 16px;
}

.serverstatus.online {
    color: green;
}
.serverstatus.warning {
    color: orange;
}
.serverstatus.danger {
    color: red;
}
.serverstatus.info {
    color: blue;
}
.serverstatus.offline {
    color: red
}
.profilecard {
    width: 250px;
}
