@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap');

.test {
    animation: slide 0.5s forwards;
}

html {
    font-family: 'Muli', sans-serif;
}

.serverbooting {
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
    50% {
        background-color: #c53030;
    }
}

@tailwind base;

@tailwind components;

@tailwind utilities;
